NodeRed/flowNodeRed.json
[{"id":"2c2a4da.5d2ed32","type":"tab","label":"mqtt  mongo  api ","disabled":false,"info":""},{"id":"246b8576.3ea54a","type":"mongodb in","z":"2c2a4da.5d2ed32","mongodb":"fc428f2e.04db5","name":"","collection":"test","operation":"find","x":340,"y":20,"wires":[["2843ba7e.69860e"]]},{"id":"190f09b0.57756e","type":"http in","z":"2c2a4da.5d2ed32","name":"GET /api/log","url":"/api/log","method":"get","upload":false,"swaggerDoc":"","x":110,"y":20,"wires":[["246b8576.3ea54a"]]},{"id":"26bd2152.18d66e","type":"debug","z":"2c2a4da.5d2ed32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":60,"wires":[]},{"id":"2843ba7e.69860e","type":"json","z":"2c2a4da.5d2ed32","name":"","property":"payload","action":"","pretty":false,"x":370,"y":60,"wires":[["26bd2152.18d66e","a8845e0c.55df68"]]},{"id":"a8845e0c.55df68","type":"http response","z":"2c2a4da.5d2ed32","name":"","statusCode":"","headers":{},"x":490,"y":100,"wires":[]},{"id":"b909746d.8289c","type":"mqtt in","z":"2c2a4da.5d2ed32","name":"","topic":"mqtt_pump_water_loop_status","qos":"0","datatype":"auto","broker":"dd66544d.810db","x":130,"y":80,"wires":[["5b0b0ec1.8e16","c8b4ad4f.2e4058"]]},{"id":"80958c4a.93ce78","type":"mqtt in","z":"2c2a4da.5d2ed32","name":"","topic":"mqtt_switch_status","qos":"0","datatype":"auto","broker":"dd66544d.810db","x":90,"y":440,"wires":[["5b0b0ec1.8e16","c8b4ad4f.2e4058"]]},{"id":"8d4443ae.17a99","type":"mqtt in","z":"2c2a4da.5d2ed32","name":"","topic":"mqtt_valve_Acid_status","qos":"0","datatype":"auto","broker":"dd66544d.810db","x":100,"y":380,"wires":[["5b0b0ec1.8e16","c8b4ad4f.2e4058"]]},{"id":"244e965b.0a4052","type":"mqtt in","z":"2c2a4da.5d2ed32","name":"","topic":"mqtt_valve_B_status","qos":"0","datatype":"auto","broker":"dd66544d.810db","x":90,"y":320,"wires":[["5b0b0ec1.8e16","c8b4ad4f.2e4058"]]},{"id":"2c65f2bf.3009de","type":"mqtt in","z":"2c2a4da.5d2ed32","name":"","topic":"mqtt_valve_A_status","qos":"0","datatype":"auto","broker":"dd66544d.810db","x":90,"y":260,"wires":[["5b0b0ec1.8e16","c8b4ad4f.2e4058"]]},{"id":"33ff7983.2b6336","type":"mqtt in","z":"2c2a4da.5d2ed32","name":"","topic":"mqtt_mix_water_status","qos":"0","datatype":"auto","broker":"dd66544d.810db","x":100,"y":200,"wires":[["5b0b0ec1.8e16","c8b4ad4f.2e4058"]]},{"id":"a99880f9.1be2f","type":"mqtt in","z":"2c2a4da.5d2ed32","name":"","topic":"mqtt_pump_water_tank_status","qos":"0","datatype":"auto","broker":"dd66544d.810db","x":130,"y":140,"wires":[["5b0b0ec1.8e16","c8b4ad4f.2e4058"]]},{"id":"d13b610c.599dc8","type":"mongodb out","z":"2c2a4da.5d2ed32","mongodb":"fc428f2e.04db5","name":"","collection":"test","payonly":true,"upsert":false,"multi":false,"operation":"store","x":460,"y":280,"wires":[]},{"id":"5b0b0ec1.8e16","type":"mongo-client in","z":"2c2a4da.5d2ed32","configNode":"28d4d882.42e8a8","name":"","collectionName":"test","x":420,"y":220,"wires":[["d13b610c.599dc8"]]},{"id":"c8b4ad4f.2e4058","type":"debug","z":"2c2a4da.5d2ed32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":440,"wires":[]},{"id":"fc428f2e.04db5","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"admin","name":""},{"id":"dd66544d.810db","type":"mqtt-broker","z":"","name":"CloudMQTT","broker":"hairdresser.cloudmqtt.com","port":"25847","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28d4d882.42e8a8","type":"mongo-client","z":"","uri":"mongodb://localhost:27017","name":"mongolocal","options":""}]